*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
span{
    font-size: 13.5px;
}
.leftnct{
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    border-right: 1px solid #f4f0f0;
}
.loginnct a{
    text-decoration: none;
}
.logonct button{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.logonct{
    width: 200px;
    height: 62px;
}
.logonct img{
    height: 24px;
    width: 48px;
    margin: 19px;
}
.logonct button{
    position: absolute;
    margin-top: 15px;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid beige;
    background-color: #fafafa;
}
.logonct button:hover{
    color: #2f78e6;
}
.loginnct{
    height: 55px;
    width: 198px;
    background-color: #fafafa;
}
.loginmininct{  
    display: flex;
    padding: 15px;
}
.loginmininct .fa-cog{
    margin-top: 4px;
}
.loginmininct a:hover{
    color: #2f78e6;
}
.loginmininct a{
    margin-right: 5px;
    margin-left: 5px;
}
.menuhover:hover{
    border-left: 4px solid #88b3ec;
    border-radius: 2px;
}
.menunct {
    width: 210px;
    margin-top: 20px;
}
.menunct a{
    text-decoration: none;
    color: black;
}
.menunct div{
    margin: 10px;
}
.searchnct .fas{
    color: #26ee58;
}
.homenct .fas{
    color: #2f78e6;
}
.compassnct .fas{
    color: #f3f33b;
}
.compassnct .fa-chevron-down{
    font-size: 14px;
    color: #ffebcd;
    margin-left: 55px;
}
.compassnct-hide{
    display: none;
}
.compassnct li{
    list-style: none;
    margin-left: 20px;
    margin-top: 5px;
    padding: 5px;
    font-size: 13.5px;
}
.compassnct li:hover{
    list-style: inside;
    color: #2f78e6;
}
.listennct-hide{
    display: none;
}
.listennct .fas{
    color: #2f78e6;
}
.listennct .fa-chevron-down{
    font-size: 14px;
    color: #ffebcd;
}
.listennct li{
    list-style: none;
    margin-left: 20px;
    margin-top: 5px;
    padding: 5px;
    font-size: 13.5px;
}
.listennct li:hover{
    list-style: inside;
    color:#2f78e6;
}
.chartnct .fas{
    color: #f53c3c;
}
.heartnct .fas{
    color: #e92222;
}
.menunct button{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.fas{
    font-size: 20px;
    margin: 0 5px;
}
.supporthinct{
    position: fixed;
    bottom: 15px;
    left: 15px;
}
@media (max-width: 900px) {
    .leftnct{
        width: 100px;
        height: 930px;
    }
}