.centernct{
    width: 940px;
    position: absolute;
    left: 200px;
}
.carousel-inner{
    width: 960px;
}
.center_viet{
    margin-top: 40px ;
}
.center_viet-top{
    display: flex;
    margin-top: 20px;
}
.center_viet-bottom{
    display: flex;
    margin-top: 20px;
}
.box_viet img{
    width: 210x;
    height: 210px;
}
.box_viet{
    margin-left: 20px;
}
.box_viet-a{
    padding-top: 10px;
    color: aliceblue;
}
