.centernct{
    width: 944px;
    position: absolute;
    left: 200px;
}
.carousel-inner{
    width: 944px;
}
.carousel-inner img{
    width: 944px;
}
.center_viet{
    margin-top: 40px ;
}
.center_viet-top{
    display: flex;
    margin-top: 20px;
}
.center_viet-bottom{
    display: flex;
    margin-top: 20px;
}
.box_viet img{
    width: 210x;
    height: 210px;
}
.box_viet{
    margin-left: 20px;
}
.box_viet-a{
    padding-top: 15px;
}
.box_viet-a a{
    padding-top: 10px;
    text-decoration: none;
    color: #1e1e1e;
}
.box_viet-a a:hover{
    color: #2f78e6;
}
.video a{
    text-decoration: none;
    color: #1e1e1e;
}.video a:hover{
    color: #2f78e6
}
.Video_hot{
    display: flex;
    justify-content:space-evenly;
}