.box-top{
    position: fixed;
    top:0;
    width: 1200px;
    height: 70px;
    background-color: #1e1426;
}

.material-symbols-outlined {
    position: absolute;
    left: 20;
    top: 20;
    border-radius: 50%;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.top1{
    width: 70px;
    height: 20px;
    margin-top: 25px;
    margin-right: 10px;
    margin-bottom:25px;
    margin-left: 60px;
    float: left;

}

.top2{
    width: 440px;
    height: 40px;
    margin-top: 15px;
    float: left;
}


#search-input {
    padding: 10px;
    width: 440px;
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    position: relative;
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}



